.select {
    position: relative;
    select {
        appearance: none;
    }

    &::after {
        content: '⮟';
        color: black;
        position: absolute;
        right: 1em;
        top: 10px;
        pointer-events: none;
        font-size: 1em;
    }
}