* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}


#root {
    background-color: white;
    display: grid;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main";
}


@media (min-width: 439px) {
    #root {
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header nav"
            "main main";
    }
}

.header {
    grid-area: header;
    text-align: center;
    border-bottom: 1px solid white;
}

.nav {
    grid-area: nav;
    margin-top: 3em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

@media (min-width: 439px) {
    .nav {
        flex-direction: row;
    }
}

.main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}